@media screen and (min-width:768px) {
    .menu_burger_fixed {
        display: none;
    }
}

@media screen and (max-width:767px) {
    .menu_fixed {
        display: none;
    }

    * {
        margin: 2px;
    }

    .content__padding {
        padding-top: 75px;
    }

    .menu_burger_fixed {
        width: 100%;
        height: 60px;
        position: fixed;
    }

    .p__top {
        padding-top: 80px;
    }
}

@media screen and (max-width:767px) {
    .padding__top__content {
        padding-top: 140px;
    }
}

.padding__top__content {
    padding-top: 120px;
}

.z__index__navbar {
    z-index: 999;
}

.bg__pink {
    background-color: pink;
}

.button-hover:hover {
    background-color: pink;
}

.menu_fixed {
    position: fixed;
}

.card-position__1 {
    position: absolute;
    top: -20px;
    left: 15px;
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 2px;
}

.shadow__generator {
    max-width: 400px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
}

.text__shadow {
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
}

.card-position__2 {
    position: absolute;
    top: 0px;
    left: 50%;
    height: 20%;
    width: 90%;
}

.card-position__3 {
    z-index: 99;
    position: absolute;
    top: 0px;
    left: 50%;
    width: 90%;
}

.card__padding {
    padding-top: 5%;
}

.card__padding__bottom {
    padding-bottom: 10%;
}

.text__decor__none {
    text-decoration: none;
}

.w-cont {
    min-width: 300px;
}

.p__card__top {
    padding-top: 10%;
}

.input__p {
    padding: 10%;
    /* padding-top: 10%;
    padding-bottom: 2%; */
}