@media screen and (min-width:800px) {
    .menu_burger_fixed {
        display: none;
    }
}

@media screen and (max-width:801px) {
    .menu_fixed {
        display: none;
    }

    * {
        margin: 2px;
    }

    .content__padding {
        padding-top: 75px;
    }

    .menu_burger_fixed {
        width: 100%;
        height: 60px;
        position: fixed;
    }
}

@media screen and (max-width:1000px) and (min-width:800px) {}


.z__index__navbar {
    z-index: 999;
}


.bg__pink {
    background-color: pink;
}

.button-hover:hover {
    background-color: pink;
}

.menu_fixed {
    position: fixed;
}

.card-position {
    position: absolute;
    top: -20px;
    left: 15px;
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 2px;
}

.shadow__generator {
    max-width: 400px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
}
.text__shadow {
    text-shadow: 4px 4px 2px rgba(0,0,0,0.3);

}